<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-init-method="init" default-destroy-method="destroy">

	<context:annotation-config/>
	<context:component-scan base-package="com.citonline" />
	<context:property-placeholder location="classpath:prop.properties"/>

	<!-- TODO: ADAPT This -->
	<!-- Initialization for data source -->
	<bean id="dataSource" 
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://157.190.186.37:3306/r00130751_thehit"/>
		<property name="username" value="R00130751"/>
		<property name="password" value="R00130751"/>	
	</bean>
</beans>
